/* GENERAL SETTINGS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body, html {
	outline: none;
	height: 100%;
	scroll-behavior: smooth;
	background-color: #F7F8F3;
}

/* HEADER */

header {
	display: flex;
	width: 100%;
	padding: 20px 10%;
	justify-content: space-between;
	align-items: center;
	background-color: #2C3D63;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

header .header-logo {
	color: #F7F8F3;
	letter-spacing: 2px;
}

header .header-nav {
	padding: 10px;
}

header .header-nav a {
	text-decoration: none;
	color: #F7F8F3;
	padding: 10px 14px;
	transition: 0.3s;
}

header .header-nav a:hover {
	color: #FF6F5E;
	border-bottom: 3px solid #FF6F5E;
}

.primary-text {
	color: #FF6F5E;
}



/* HOME SECTION */

.home-section {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

#home-image {
	background-image: url("../images/home-bg.jpg");
}

.home-text {
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 120px;
	z-index: 1;
	position: absolute;
}

.home-text h2 {
	font-size: 48px;
	color: #F7F8F3;
	letter-spacing: 2px;
}

.home-text p {
	color: #F7F8F3;
	margin: 20px 0 50px 0;
}

.home-text a {
	color: #FF6F5E;
	text-decoration: none;
	padding: 10px 14px;
	border: 2px solid #FF6F5E;
	border-radius: 20px;
	letter-spacing: 2px;
	transition: 0.3s;
}

.home-text a:hover {
	background-color: #FF6F5E;
	color: #fff;
}


/*
.home-button {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -58%);
	z-index: 1;
}


.home-text a {
	text-decoration: none;
	color: #FF6F5E;
	border: 2px solid #FF6F5E;
	padding: 10px 14px;
	border-radius: 20px;
	letter-spacing: 2px;
	transition: 0.3s;
}

.home-text a:hover {
	background-color: #FF6F5E;
	color: #fff;
}
*/


/* ABOUT SECTION */

.about-section {
	height: auto;
}

.about-info {
	text-align: center;
	margin-top: 30px;
}

.about-info h1 {
	color: #FF6F5E;
	font-size: 38px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.about-info hr {
	width: 6%;
	margin: 0 auto;
	border: 2px solid #FF6F5E;
	margin-bottom: 15px;
	border-radius: 10px;
}

.about-info p {
	color: #2C3D63;
}

.about-cards {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.about-cards .about-card {
	margin: 60px 80px;
	text-align: center;
	display: inline-block;
}

.about-cards .about-card i {
	font-size: 64px;
	color: #FF6F5E;
}

.about-cards .about-card h2 {
	color: #2C3D63;
	padding: 10px 0;
}


.about-cards .about-card p {
	color: #555;
	font-weight: 300;
	line-height: 25px;
}


/* QUOTE SECTION */

section.quote-section {
	height: 70%;
	background-size: cover;
	background-attachment: fixed;
}

#quote-image {
	background-image: url("../images/quote-bg.jpg");
}


section.quote-section .quote-text {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}


section.quote-section .quote-text h1 {
	font-size: 38px;
	color: #fff;
	letter-spacing: 2px;
	text-shadow: 2px 2px 7px #000;
	border-bottom: 3px dashed #FF6F5E;
	padding-bottom: 12px;
}

/* FOOTER SECTION */


footer {
	height: 80px;
	background-color: #2C3D63;
	display: flex;
	justify-content: space-between;
	padding: 0 10%;
	align-items: center;
}

footer p {
	color: #F7F8F3;
	font-weight: 300;
	letter-spacing: 1px;
}

footer .social-buttons i {
	font-size: 22px;
	padding-right: 14px;
	color: #F7F8F3;
	transition: 0.3s;
	cursor: pointer;
}

footer .social-buttons i:hover {
	color: #FF6F5E;
}



/* RESPONSIVE CODES */

@media only screen and (max-width: 1024px) {
	.about-cards .about-card {
		margin: 60px 20px;
	}

	.about-info p {
		padding: 0 15%;
	}

	section.quote-section .quote-text h1 {
		font-size: 32px;
	}
}


@media only screen and (max-width: 910px) {
	header {
		flex-direction: column;
	}
	.about-info h1 {
		font-size: 30px;
	}
	section.quote-section .quote-text h1 {
		font-size: 26px;
	}
}


@media only screen and (max-width: 700px) {
	.about-cards {
		flex-direction: column;
		width: 80%;
		margin: 0 auto; 
	}

	section.quote-section .quote-text h1 {
		font-size: 22px;
	}


}

@media only screen and (max-width: 600px) {
	footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	footer p {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 570px) {
	section.quote-section .quote-text h1 {
		font-size: 18px;
	}
}


@media only screen and (max-width: 510px) {

	header .header-nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		border-top: 1px solid #FF6F5E;
		margin-top: 20px; 
	}

	section.quote-section .quote-text h1 {
		font-size: 14px;
	}

}